{% extends "base.html" %}
{% block page_content %}
<div class="container">
  <div class="header">
    <h3 class="text-muted">Detect</h3>
  </div>
  <hr/>
  <div id="detectContent">
    <form id="detectForm" action="detect_upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file"><br /><br />
      Trained Model Name
<!--<input type="text" name="trained_video"><br /><br />-->
      <select name="model_choice" id="model_select">
        {% for model in models %}        
        <option value="{{model}}">{{model}}</option>
        {% endfor %}
      </select>
      <br />
      <br />
      <button id="detectFile" class="detectButton" value="Detect">Detect</button>
    </form>
  </div>

  <div>
    <video id="video" width="320" height="240" autoplay></video>
    <canvas id="canvas" width="320" height="240"></canvas>
    <section>
      <button id="btnStart">Start video</button>
      <button id="btnStop">Stop video</button>            
      <button id="btnPhoto">Take a photo</button>
      <button id="detectWebcam" class="detectButton">Detect</button>
    </section>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<script src="static/js/webcam.js"></script>
<script>
$(document).ready(function() {          
    $('.detectButton').each(function(){
        $(this).click(function(){
            var note = $('<div id="submitdialog"></div>').appendTo(".container");
            var overlay = $('<div id="turkic_overlay"></div>').appendTo(".container");
            note.html("Running Neural Network...");
        });
    });

    $('#detectFile').click(function(){
         $('#detectForm').submit();
     });

    $('#detectWebcam').click(function(){
          sendDetectRequest();
     });
});
</script>
{% endblock %}

</html>
 
