{% extends "base.html" %}
{% block title %}File Uploader{% endblock %}

{% block page_content %}
<style>
.switchOn{
    color: green;
}

.switchOff{
    color: red;
}
</style>

<div class="container">
    <h1>Privacy Mediator</h1>
    <br>
    <blockquote>
        <p>Welcome to Privacy Mediator</p>
    </blockquote>
    <br>

    <form id="train_form" method="post" action="/blur" enctype="multipart/form-data">
      {% for person in people %}
      <p><input type="checkbox" name="checkbox" value="{{person}}">{{person}}</p>
      {% endfor %}
      <button id="train_form_submit" class="button">Blur</button>
    </form>

<!--
    {% for person in people %}        
    <div id="person_{{person}}" >{{person}}</div>
    <button class="switchOn" id="button_{{person}}">Blur</button>
    {% endfor %}
-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
          <ul>
                <li>Built with Twitter's <a href="//twitter.github.com/bootstrap/">Bootstrap</a> CSS framework and Icons from <a href="//glyphicons.com/">Glyphicons</a>.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">


<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="static/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="static/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="static/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="static/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="static/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="static/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="static/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="static/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="static/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
<script src="/static/js/blur.js"></script>
<script>
$(document).ready(function(){
  $('.switchOn').click(function(){
    if(!$('.switchOff').length > 0){
     $('.switchOn').addClass('switchOff').removeClass('switchOn');
    }else{
     $('.switchOff').addClass('switchOn').removeClass('switchOff');
    }
  });
});
</script>
{% endblock %}
